* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #4F88EF;
    font-family: Proxima Nova;
}

a {
    font-family: bello;
    color: white;
    text-decoration: none;
    justify-content: flex-start;
}

ul {
    display: flex;
    color: white;
    text-align: center;
    list-style-type: none;
    justify-content: space-evenly;
    flex-direction: column;
}

.close-menu-button {
    display: flex;
    justify-content: flex-end;
}

li {
    
}

li:hover {
    text-decoration: underline;
}
